
@import "../../../style/mixins.scss";

.search-container {
    width: 40%;
    border-radius: 10;
    border: 2px solid #fa983a;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px 9px 16px -8px rgba(0,0,0,0.75);
    color: black;
    @include bp-small {
        width: 100%;
        position: sticky;
    }
    @include bp-mobileOnly {
        width: 100%;
        position: sticky;
    }
    h3 {
        margin: auto;
        width: 40%;
        @include bp-medium {
            display: none;
        }
        @include bp-small {
            display: none;
        }
        @include bp-mobileOnly {
            display: none;
        }
    }
    .textfield-container {
        width: 60%;
        margin: 25px;
        @include bp-medium {
            margin: 15px;
        }
        @include bp-small {
            margin: 5px;
        }
        @include bp-mobileOnly {
            margin: 5px;
        }
        .textField {
            width: 100%;
            margin: auto;

            @include bp-medium {
                width: 100%;
            }
            @include bp-small {
                width: 100%;
            }
            @include bp-mobileOnly {
                width: 100%;
            }
        }
    }
    .search-icon {
        width: 100px;
        margin: auto;
        margin-right: 20px;
    }
}

