$img-w: 5912px;
$img-h: 389px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

.slider {
  width: 100%;
  top: calc(50% - #{$img-h * $ratio / 2});
  overflow: hidden;
  .slider-row {
    width: $img-w * $ratio;
    height: $img-h * $ratio;
    background-size: $img-w * $ratio $img-h * $ratio;
    animation: slide $speed linear infinite; 
    text-align: center;
    display: flex;   
    img {
      width: 95%;
      max-height: 250px;
      height: auto;
      margin-bottom: 100px;
    }
  }
}

@keyframes slide {
  from { background-position-x: 0; }
  to   { background-position-x: -$img-w * $ratio; }
}



//   figure {
//       position: relative;
//       width: 200%;
//       margin: 0;
//       padding: 0;
//       font-size: 0;
//       animation: 25s slidy infinite 0s;
//       animation-delay: 0s;
      
//   }
// }