/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
.story-header {
  background-color: #fa983a;
  width: 100%;
  height: 250px;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: -1px 9px 16px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 16px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 16px -8px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 480px) {
    .story-header {
      height: 150px; } }
  .story-header h1 {
    padding-top: 100px;
    margin-bottom: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .story-header h1 {
        font-size: 2em;
        margin-bottom: 100px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .story-header h1 {
        font-size: 1.5em;
        margin-bottom: 70px; } }
    @media only screen and (max-width: 480px) {
      .story-header h1 {
        font-size: 1.2em;
        padding-top: 60px;
        margin-bottom: 60px; } }

.btn-filter {
  padding-top: 100px;
  margin: auto;
  width: 70%; }
  .btn-filter .btn.container {
    margin: 20; }

.cards-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap; }
