@import "../../style/mixins.scss";
@import "../../style/variables.scss";

.story-header {
    background-color: $primary;
    width: 100%;
    height: 250px;
    text-align: center;
    color: $white;
    -webkit-box-shadow: -1px 9px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 16px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 16px -8px rgba(0,0,0,0.75);
    @include bp-mobileOnly {
        height: 150px;
    }
    h1 {
        padding-top: 100px;
        margin-bottom: 100px;
        @include bp-medium {
            font-size: 2em;
            margin-bottom: 100px;
          }
        @include bp-small {
            font-size: 1.5em;
            margin-bottom: 70px;
          }
        @include bp-mobileOnly {
            font-size: 2em;
            padding-top: 60px;
            margin-bottom: 45px;
        }
    }
}

.btn-filter {
    padding-top: 100px;
    margin: auto;
    width: 70%;
    @include bp-mobileOnly {
        padding-top: 70px;
    }
    .btn.container {
         margin: 20;
     }
}

.cards-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
