@import "../../style/variables.scss";
@import "../../style/mixins.scss";

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}



.container {
    .header {
        text-align: center;
        width: 100%;
        position: relative;
        @include bp-mobileOnly {
            width: 100%;
            padding-top: 50px;
        }
        .head-image-container {
            
            img {
                width: 100%;
                object-fit: cover;
            }
            .about-us-main-title {
                z-index: 5;
                width: 80%;
                color: $primary;
                margin: auto;
                position: absolute;
                top: 20%;
                left: 10%;
                font-size: 3em;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                @include bp-small {
                    font-size: 2em;
                }
                @include bp-mobileOnly {
                    font-size: 1em;
                    top: 40%;
                }
            }
        }
        .definition {
            text-align: left;
            position: absolute;
            left:0;
            bottom: 0;
            width: 100%;
            @include bp-small {
                display: none;
            }
            @include bp-mobileOnly {
                display: none;
            }

            p {
                font-size: 12px;
                color: black;
                a {
                    color: orange;
                    text-decoration: none;
                }
            }
        }
    }
    .top-resume {
        margin: 25;
        text-align: center;
        .text-resume {
            width: 60%;
            padding: 25px;
            margin: 50px auto;
            border: 5px solid $primaryDark;
            border-radius: 20px;
            font-size: 200%;
            @include bp-medium {
                font-size: 1.5em;
            }
            @include bp-small {
                font-size: 1em;
            }
            
        }
        .image-slider-desktop {
            @include bp-small {
                display: none;
            }
            @include bp-mobileOnly {
                display: none;
            }
        }
    }
    .mobileOnly {
        width: 70%;
        margin: auto;
        display: none;
        p {
            margin: 30px 0;
            display: none;
            @include bp-small {
                display: block!important;
            }
            @include bp-mobileOnly {
                display: block!important;
            }
        }
        .image-slider-mobile {
            display: none;
            @include bp-small {
                display: block!important;
            }
            @include bp-mobileOnly {
                display: block!important;
            }
        }
    }
}

.team-resume {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}





.separation-bar {
    height: 25px;
    background-color: #fa983a;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
                0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    @include bp-mobileOnly {
        height: 12px;
    }
}
