@import "../../style/variables.scss";
@import "../../style/mixins.scss";

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}



.container {
    .header {
        text-align: center;
        width: 100%;
        @include bp-mobileOnly {
            width: 100%;
        }
        .head-image-container {
            
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .definition {
            text-align: right;
            margin: 75px 16px 0 0;
            p {
                font-size: 12px;
                color: black;
                a {
                    color: orange;
                    text-decoration: none;
                }
            }
        }
    }
    .top-resume {
        margin: 25;
        text-align: center;
        .text-resume {
            width: 60%;
            padding: 25px;
            margin: 50px auto;
            border: 5px solid $primaryDark;
            border-radius: 20px;
            font-size: 200%;
            @include bp-small {
                font-size: 1em;
            }
            @include bp-medium {
                font-size: 1.5em;
            }
            
        }
    }
    .mobile-only {
        width: 70%;
        margin: auto;
        p {
            margin: 30px 0;
            display: none;
            @include bp-mobileOnly {
                display: block!important;
            }
        }
    }
}

.team-resume {
    display: flex;
    justify-content: center
}


div#slider {
    width: 100%;
    overflow: hidden;
    figure {
        position: relative;
        width: 200%;
        margin: 0;
        padding: 0;
        font-size: 0;
        animation: 25s slidy infinite 0s;
        animation-delay: 0s;
        img {
            width: 95%;
            max-height: 250px;
            height: auto;
            margin-bottom: 100px;
        }
    }
}



.separation-bar {
    height: 25px;
    background-color: #fa983a;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
                0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    @include bp-mobileOnly {
        height: 12px;
    }
}
