/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

.container .header {
  text-align: center;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .container .header {
      width: 100%;
      padding-top: 50px; } }
  .container .header .head-image-container img {
    width: 100%;
    object-fit: cover; }
  .container .header .head-image-container .about-us-main-title {
    z-index: 5;
    width: 80%;
    color: #fa983a;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3em;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .header .head-image-container .about-us-main-title {
        font-size: 2em; } }
    @media only screen and (max-width: 480px) {
      .container .header .head-image-container .about-us-main-title {
        font-size: 1em;
        top: 40%; } }
  .container .header .definition {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .header .definition {
        display: none; } }
    @media only screen and (max-width: 480px) {
      .container .header .definition {
        display: none; } }
    .container .header .definition p {
      font-size: 12px;
      color: black; }
      .container .header .definition p a {
        color: orange;
        text-decoration: none; }

.container .top-resume {
  margin: 25;
  text-align: center; }
  .container .top-resume .text-resume {
    width: 60%;
    padding: 25px;
    margin: 50px auto;
    border: 5px solid #e5760d;
    border-radius: 20px;
    font-size: 200%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .container .top-resume .text-resume {
        font-size: 1.5em; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .top-resume .text-resume {
        font-size: 1em; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .container .top-resume .image-slider-desktop {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .container .top-resume .image-slider-desktop {
      display: none; } }

.container .mobileOnly {
  width: 70%;
  margin: auto;
  display: none; }
  .container .mobileOnly p {
    margin: 30px 0;
    display: none; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .mobileOnly p {
        display: block !important; } }
    @media only screen and (max-width: 480px) {
      .container .mobileOnly p {
        display: block !important; } }
  .container .mobileOnly .image-slider-mobile {
    display: none; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .mobileOnly .image-slider-mobile {
        display: block !important; } }
    @media only screen and (max-width: 480px) {
      .container .mobileOnly .image-slider-mobile {
        display: block !important; } }

.team-resume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.separation-bar {
  height: 25px;
  background-color: #fa983a;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  @media only screen and (max-width: 480px) {
    .separation-bar {
      height: 12px; } }
