/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
@keyframes slidy {
  0% {
    left: 0%; }
  20% {
    left: 0%; }
  25% {
    left: -100%; }
  45% {
    left: -100%; }
  50% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -300%; }
  95% {
    left: -300%; }
  100% {
    left: -400%; } }

.container .header {
  text-align: center;
  width: 100%; }
  .container .header .head-image-container img {
    width: 100%;
    object-fit: cover; }
  .container .header .definition {
    text-align: right;
    margin: 75px 16px 0 0; }
    .container .header .definition p {
      font-size: 12px;
      color: black; }
      .container .header .definition p a {
        color: orange;
        text-decoration: none; }

.container .top-resume {
  margin: 25;
  text-align: center; }
  .container .top-resume .text-resume {
    width: 60%;
    padding: 25px;
    margin: auto;
    border: 5px solid #e5760d;
    border-radius: 20px;
    font-size: 200%; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container .top-resume .text-resume {
        font-size: 1em; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .container .top-resume .text-resume {
        font-size: 1.5em; } }

.container .mobile-only {
  width: 70%;
  margin: auto; }
  .container .mobile-only p {
    margin: 30px 0;
    display: none; }
    @media only screen and (max-width: 480px) {
      .container .mobile-only p {
        display: block !important; } }

.team-resume .member-container {
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 80%;
  width: 75%;
  justify-content: center;
  flex-wrap: wrap; }

div#slider {
  width: 100%;
  overflow: hidden; }
  div#slider figure {
    position: relative;
    width: 200%;
    margin: 0;
    padding: 0;
    font-size: 0;
    animation: 25s slidy infinite 0s;
    animation-delay: 0s; }
    div#slider figure img {
      width: 95%;
      max-height: 250px;
      height: auto;
      margin-bottom: 100px; }

.separation-bar {
  height: 25px;
  background-color: #fa983a;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  @media only screen and (max-width: 480px) {
    .separation-bar {
      height: 12px; } }
