
@import "../../style/variables.scss";
@import "../../style/mixins.scss";



.App {
  width: 100%;
  margin: 0;
  padding: 0;
  .app-bar {
    background-color: $primaryDark !important;
    @include bp-mobileOnly {
      position: fixed;
    }
    .navbar-container {
      width: 100%;
      display: flex;
      padding: 10;
      @include bp-small {
        justify-content: center;
      }
      @include bp-mobileOnly {
        justify-content: right;
        width: 100%;
        }
      
      .btn-container {
        @include bp-mobileOnly {
          width: 15%;
          .mobile-icon{
            display: block !important;
          }
        }
        .nav-link {
          text-decoration: none;
          color: $white;
        }
        button {
          text-transform: none!important;
          @include bp-large {
            font-size: 1.2em;
          }
          @include bp-medium {
            font-size: 1.2em;
          }
          @include bp-small {
            font-size: 0.8em;
            display: flex;
            justify-content: space-evenly;
          }
          @include bp-mobileOnly {
            width: 25%;
            border-radius: 3px;
            border: 0px;
            color: $white;
            font-size: 24px;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
          }
          p {
            padding-right: 15px;
          }
        }
      }
    }
  }
}