
@import "../../style/variables.scss";

.nav-link {
  text-decoration: none;
  color: $white;
}

.navbar-color {
  background-color: $primaryDark !important;
}

.navbar-container {
  display: flex;
  padding: 0 12px;
}
