/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
.App {
  width: 100%;
  margin: 0;
  padding: 0; }

.nav-link {
  text-decoration: none;
  color: #ffffff; }

.navbar-color {
  background-color: #e5760d !important; }

.navbar-container {
  width: 100%;
  display: flex;
  padding: 10; }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-container {
      justify-content: center; } }
  @media only screen and (max-width: 480px) {
    .navbar-container {
      justify-content: center; } }
  @media only screen and (max-width: 480px) {
    .navbar-container .btn-container {
      width: 25%; }
      .navbar-container .btn-container .mobile-icon {
        display: block !important; } }
  @media only screen and (min-width: 1025px) {
    .navbar-container .btn-container button {
      font-size: 1.2em; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-container .btn-container button {
      font-size: 1.2em; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-container .btn-container button {
      font-size: 0.8em;
      display: flex;
      justify-content: space-evenly; } }
  @media only screen and (max-width: 480px) {
    .navbar-container .btn-container button {
      width: 25%;
      background: #fa983a;
      border-radius: 3px;
      border: 0px;
      color: #ffffff;
      font-size: 24px;
      height: 4px;
      width: 100%;
      display: flex;
      justify-content: space-evenly; } }
  .navbar-container .btn-container button p {
    padding-right: 15px; }
