@import "../../../../style/variables.scss";
@import "../../../../style/mixins.scss";

.team-ctn {
    display: flex;
    .member-container {
        text-align: center;
        display: flex;
        margin: auto;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        .card {
            min-width: 275px;
            text-align: center;
            margin: 15px;
            background-color: $white;
            box-shadow: none;
            @include bp-mobileOnly {
                height: 100%;
                width: 100%;
                min-width: 95px;
            }
            .card-content {
                margin: auto;
                border: none!important;
                @include bp-mobileOnly {
                    display: flex;
                    
                }
                .card-text {
                    width: 100%;
                    p {
                        @include bp-mobileOnly {
                            font-size: 24px;
                        }
                    }
                    .title {
                        font-size: 14px;
                        @include bp-mobileOnly {
                            font-size: 36px;
                        }
                    }
                    .pos {
                        margin-bottom: 12px;
                        @include bp-mobileOnly {
                            margin-bottom: 0;
                        }
                    }
                    .bullet {
                        display: inline-block;
                        margin: 0px 2px;
                        transform: scale(0.8);
                    }
                }
                .card-img {
                    .avatar {
                        margin-bottom: 15px;
                    }
                    .bigAvatar {
                        width: 200px;
                        height: 200px;
                        margin: auto;
                        @include bp-mobileOnly {
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .onMobile {
                        display: none;
                        @include bp-mobileOnly {
                            display: block;
                        }
                        .popup-content {
                            text-align: center;
                            margin: auto;
                            color: $primaryDarker;
                            .popup-name {
                                font-size: 2em;
                                margin: auto;
                                padding: 10px;
                            }
                            .popup-nickname {
                                font-size: 1.5em;
                                margin: auto;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}